.post-details-model {
    background-color: rgba(34, 8, 233, 0);
    color: black;
    margin: 30px;
    border-bottom: 1px solid #ccc !important;

    .post-details {
        img {
            width: 50%;
            height: 80%;
            object-fit: cover;
        }

    }

    .post-user-info {
        display: flex;
        flex-direction: row;
        gap: 10px;

        .container {
            position: relative;
        }

        .imgPro {
            position: absolute;
            left: 8%;
            bottom: 11%;
            border-radius: 50%;
            width: 85%;
            height: 83%;
        }

        .canvas {
            width: 100%;
            height: auto;
        }


        // img {
        //     width: 32px;
        //     height: 32px;
        //     border-radius: 50%;
        //     object-fit: cover;

    
        //     .canvas {

        //         left: -5px;
        //         position: absolute;
        //         top: -5px;
        //         height: 42px;
        //         width: 42px;
        //     }


        // }

        .moreOptions {
            padding-left: 150px;
        }
    }


    .post-icons {

        display: flex;
        flex-direction: row;
        gap: 10px;


        .save {
            margin-left: 200px;
        }
    }

}