.create-post-filter-img {
  color: rgb(0, 0, 0);
  color-scheme: light;
  direction: ltr;
  display: flex;
  flex-direction: column;
  line-height: 18px;
  text-size-adjust: 100%;
  background: white;
  position: relative;
  border-radius: 10%;

}

.upload-img-model-title-filter {

  display: flex;
  border-radius: 10%;
  border-bottom-color: rgb(219, 219, 219);
  border-bottom-style: solid;
  border-bottom-width: 0.8px;

}


.create-post-filter-img-continar {
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  color: rgb(0, 0, 0);
  color-scheme: light;
  direction: ltr;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.upload-img-filter {
  //border-bottom-right-radius: 15px;
  overflow: scroll;
  height: 468px;
  color: rgb(0, 0, 0);
  color-scheme: light;
  direction: ltr;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left-color: rgb(219, 219, 219);
  border-left-style: solid;
  border-left-width: 0.8px;
}

.upload-img-filter-title {

  color: rgb(0, 0, 0);
  color-scheme: light;
  direction: ltr;
  display: flex;
  flex-direction: row;
  font-family: "Instagram Sans UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  height: 39.8px;
  line-height: 18px;
  pointer-events: all;
  text-size-adjust: 100%;

}


.upload-img-filter-title-div {

  color: rgb(0, 0, 0);
  color-scheme: light;
  cursor: pointer;
  direction: ltr;
  display: flex;

  font-family: "Instagram Sans UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  line-height: 24px;
  padding-bottom: 14px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 14px;
  width: 161.2px;
}

.upload-img-filter-list {

  direction: ltr;
  display: flex;
  flex-wrap: wrap;
  width: 322.4px;
  height: 520.8px;
  border-top-color: rgb(219, 219, 219);
  border-top-style: solid;
  border-top-width: 0.8px;

}

.filter-back-btn {
 
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  color-scheme: light;
  cursor: pointer;
  direction: ltr;
  display: flex;
  justify-content: center;
  line-height: 18px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-left: 5px;
  width: 48px;

}

.filter-back-btn-svg {
  padding: 8px;
  width: 40px;
}




.upload-img-title {
  align-items: center;
  align-self: auto;
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  color-scheme: light;
  direction: ltr;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-family: "Instagram Sans UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 42.2px;
  justify-content: center;
  line-height: 18px;
  text-size-adjust: 100%;

}


.upload-img-title-div {
  color: rgb(0, 0, 0);
  color-scheme: light;
  direction: ltr;
  display: block;
  font-family: "Instagram Sans UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-feature-settings: normal;
  font-size: 16px;
  font-weight: 600;
  height: 24px;
  line-height: 24px;
  text-align: center;

}

.upload-img-title-btn {

  display: flex;
  flex-direction: column;
  font-family: "Instagram Sans UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  justify-content: flex-start;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  position: relative;
  width: 63.925px;
}

.filter-next-btn {
  align-items: center;
  color: rgb(0, 149, 246);
  cursor: pointer;
  font-family: "Instagram Sans UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;

}


.create-post-filter-img-data {
  display: flex;
  cursor: pointer;
  direction: ltr;
  display: block;
}

.post-img-style {
  //border-bottom-left-radius: 15px;
  border-bottom-color: rgb(0, 0, 0);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(0, 0, 0);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(0, 0, 0);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(0, 0, 0);
  border-top-style: none;
  border-top-width: 0px;
  color: rgb(0, 0, 0);
  color-scheme: light;
  cursor: pointer;
  direction: ltr;
  display: block;
  font-family: "Instagram Sans UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 476px;
  left: 0px;
  line-height: 18px;
  object-fit: cover;
  overflow-clip-margin: content-box;
  text-size-adjust: 100%;
  top: 0px;
  user-select: none;
  width: 476px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}



.list-of-filter {

  color: rgb(0, 0, 0);
  color-scheme: light;
  direction: ltr;
  display: flex;
  flex-wrap: wrap;
  height: 520.8px;
  justify-content: center;
  line-height: 18px;
  margin-bottom: 0px;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 0px;
  text-size-adjust: 100%;
  width: 306.4px; //?
}


.filter-flex {

  align-content: stretch;
  align-items: stretch;
  align-self: auto;
  background-color: rgba(0, 0, 0, 0);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  color-scheme: light;
  direction: ltr;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  font-family: "Instagram Sans UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 110.2px;
  justify-content: flex-start;
  line-height: 18px;
  margin-top: 16px;
  position: relative;
  text-size-adjust: 100%;
  width: 102.125px;
}

.filter-name {
  color: rgb(115, 115, 115);
  color-scheme: light;
  cursor: pointer;
  direction: ltr;
  display: block;
  font-family: "Instagram Sans UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-feature-settings: normal;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-size: 12px;
  font-stretch: 100%;
  font-style: normal;
  font-weight: 400;
  height: 16px;
  letter-spacing: normal;
  line-height: 16px;
  margin-bottom: -3px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: -2px;
  pointer-events: auto;
  text-align: center;

}


.filter-img {

  border-bottom-color: rgba(0, 0, 0, 0);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-style: solid;
  border-bottom-width: 1.6px;
  border-left-color: rgba(0, 0, 0, 0);
  border-left-style: solid;
  border-left-width: 1.6px;
  border-right-color: rgba(0, 0, 0, 0);
  border-right-style: solid;
  border-right-width: 1.6px;
  border-top-color: rgba(0, 0, 0, 0);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: solid;
  border-top-width: 1.6px;
  color: rgb(0, 149, 246);
  color-scheme: light;
  cursor: pointer;
  direction: ltr;
  display: flex;
  font-feature-settings: normal;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-size: 14px;
  font-stretch: 100%;
  font-weight: 600;
  height: 88px;
  letter-spacing: normal;
  line-height: 18px;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 8px;
  pointer-events: auto;
  text-align: center;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-size-adjust: 100%;
  text-transform: none;
  user-select: none;
  width: 88px;
  word-spacing: 0px;
}



.filter-img-div {
  cursor: pointer;
  display: block;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  height: 88px;
  width: 88px;
}


.original {
  position: relative;
}

.original img {
  width: 100%;
}


.aden {
  position: relative;
  -webkit-filter: hue-rotate(-20deg) contrast(.9) saturate(.85) brightness(1.2);
  filter: hue-rotate(-20deg) contrast(.9) saturate(.85) brightness(1.2)
}

// .aden:after,
// .aden:before {
//   content: '';
//   display: block;
//   height: 100%;
//   width: 100%;
//   top: 0;
//   left: 0;
//   position: absolute;
//   pointer-events: none
// }

// .aden img {
//   width: 100%;
// }

// .aden::after {
//   background: -webkit-linear-gradient(left, rgba(66, 10, 14, .2), transparent);
//   background: linear-gradient(to right, rgba(66, 10, 14, .2), transparent);
//   mix-blend-mode: darken
// }

.gingham::after,
.perpetua::after,
.reyes::after {
  mix-blend-mode: soft-light
}



.perpetua {
  position: relative
}

.perpetua:after,
.perpetua:before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none
}

.perpetua img {
  width: 100%;
}



// .perpetua::after {
//   background: -webkit-linear-gradient(top, #005b9a, #e6c13d);
//   background: linear-gradient(to bottom, #005b9a, #e6c13d);
//   opacity: .5
// }

.reyes {
  position: relative;
  -webkit-filter: sepia(.22) brightness(1.1) contrast(.85) saturate(.75);
  filter: sepia(.22) brightness(1.1) contrast(.85) saturate(.75)
}

.reyes:after,
.reyes:before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none
}

.reyes img {
  width: 100%;
}


.reyes::after {
  background: #efcdad;
  opacity: .5
}

.gingham {
  position: relative;
  -webkit-filter: brightness(1.05) hue-rotate(-10deg);
  filter: brightness(1.05) hue-rotate(-10deg)
}

// .gingham:after,
// .gingham:before {
//   content: '';
//   display: block;
//   height: 100%;
//   width: 100%;
//   top: 0;
//   left: 0;
//   position: absolute;
//   pointer-events: none
// }

.gingham img {
  width: 100%;
}


.gingham::after {
  background: #e6e6fa
}


.lark {
  position: relative;
  -webkit-filter: contrast(.9);
  filter: contrast(.9)
}

.lark:after,
.lark:before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  // pointer-events: none
}

.lark img {
  width: 100%;

}


.lark::after {
  background: rgba(242, 242, 242, .8);
  mix-blend-mode: darken
}

.lark::before {
  background: #22253f;
  mix-blend-mode: color-dodge
}

.moon {
  position: relative;
  -webkit-filter: grayscale(1) contrast(1.1) brightness(1.1);
  filter: grayscale(1) contrast(1.1) brightness(1.1)
}

.moon:after,
.moon:before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  // pointer-events: none
}

.moon img {
  width: 100%;
}



.moon::before {
  background: #a0a0a0;
  mix-blend-mode: soft-light
}

.moon::after {
  background: #383838;
  mix-blend-mode: lighten
}

.clarendon {
  position: relative;
  -webkit-filter: contrast(1.2) saturate(1.35);
  filter: contrast(1.2) saturate(1.35)
}

.clarendon:after,
.clarendon:before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  //pointer-events: none
}

.clarendon img {
  width: 100%;
  //z-index: 1
}

.clarendon:before {
  //z-index: 2;
  background: rgba(127, 187, 227, .2);
  mix-blend-mode: overlay
}


.slumber {
  position: relative;
  -webkit-filter: saturate(.66) brightness(1.05);
  filter: saturate(.66) brightness(1.05)
}

.slumber:after,
.slumber:before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  // pointer-events: none
}

.slumber img {
  width: 100%;
}


.slumber::after {
  background: rgba(125, 105, 24, .5);
  mix-blend-mode: soft-light
}

.slumber::before {
  background: rgba(69, 41, 12, .4);
  mix-blend-mode: lighten
}


.loader {
   position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
  border: 5px solid #ffffff;
  border-bottom-color:#000000;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.filter-selected {
  border-style: solid;
  border-color: rgb(0, 149, 246);
  border-width: 1.6px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.filter-selected-name {
  color: rgb(0, 149, 246);
}


.post-img-style-to-save {
  //border-bottom-left-radius: 15px;
  border-bottom-color: rgb(0, 0, 0);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(0, 0, 0);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(0, 0, 0);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(0, 0, 0);
  border-top-style: none;
  border-top-width: 0px;
  color: rgb(0, 0, 0);
  color-scheme: light;
  cursor: pointer;
  direction: ltr;
  display: block;
  font-family: "Instagram Sans UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 476px;
  left: 0px;
  line-height: 18px;
  object-fit: cover;
  overflow-clip-margin: content-box;
  text-size-adjust: 100%;
  top: 0px;
  user-select: none;
  width: 476px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}
