.postList-container {
	display: flex;
	flex-direction: column;
	// 	justify-content: center;
	align-items: center;

	background-color: var(--mail-bg-clr-2);
	color: #202124;
	// background-color: rgb(0, 94, 255);
	width: 1000px;

	.postDetails-list {
		
	}

}